html {
    /* background-color: black; */
    background-color: black; /*temp for development. Use black.*/
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* GLOBAL ELEMENT ADJUSTMENTS */

body {
    margin: 0;
    padding-top: 60px;
    border: none;
}

main {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    transition: 500ms ease all;
}

h2 {
    font-size: 1.3rem;
    padding: 0px;
    margin: 8px 0px;
}

h3 {
    font-size: 1rem;
    padding: 0px;
    margin: 8px 0px;
}


/* HEADER STYLINGS */

.header {
    height: 60px;
    background: linear-gradient(rgba(34, 34, 34, 0.5), rgba(15, 15, 15, 0.5));
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    transition: 1s ease all;
}

.header.scrolled {
    background: linear-gradient(rgba(20, 8, 45, 0.85), rgba(15, 6, 30, 0.85));
}

.headerNav {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logoText {
    /* font-family: 'Fredericka the Great', sans-serif; */
    color: #fff;
    opacity: 0.9;
    text-shadow: 1px 1px 3px #000;
    font-weight: 600;
}

.expandCollapse {
    height: 70%;
    transition: 500ms ease all;
}

.expandCollapse:hover {
    transform: scale3d(1.25, 1.25, 1.25);
}

.expandCollapse.activated {
    transform: rotate(180deg);
}





/* BACKGROUND GRADIENT */

/* Background-div */
.full-page-background {
    position: fixed;
    z-index: -999;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0B1C43, #163169, #321574, #501B77, #0B1C43);
    background-size: 350% 100%;
    animation: background-gradient 30s ease infinite alternate;
}

/* Background gradient animation */
@keyframes background-gradient {

    0% {
        background-position: 0% 50%;
        opacity: 0.8;
    }
    12.5% {
        opacity: 0.6;
    }
    25% {
        opacity: 0.8;
    }
    37.5% {
        opacity: 0.6;
    }
    50% {
        background-position: 100% 50%;
        opacity: 0.8;
    }
    62.5% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    87.5% {
        opacity: 0.6;
    }
    100% {
        background-position: 0% 50%;
        opacity: .8;
    }

}




/* SETTINGS OVERLAY */

.settingsOverlay {
    
    position: absolute;
    top: 50;
    width: 100vw;
    height: 100%;
    z-index: 5;
    transition: 750ms ease all;
    transform: scale(0.5) translateY(-200%);
    visibility: hidden;
    opacity: 0;
}

.settingsOverlay.activated {
    transform: scale(1) translateY(0);
    visibility: visible;
    display: block;
    opacity: 1;
}

main.hidden {
    visibility: hidden;
    opacity: 0;
}

.categoryToggleRow {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
}

.categoryToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border: 3px solid #eee;
    border-radius: 50px;
    margin: 8px 15px;
    font-size: 1.7rem;
    color: #eee;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 3px 3px 6px 0 rgba(20, 20, 20, 0.9) inset;
}

.categoryToggle.activated {
    background-color: #eee;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.9);
    color: #0B1C43;
    text-shadow: none;
    font-weight: 600;
}

.categoryToggle:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

.settingsHr {
    width: 80%;
    margin: 25px auto;
}

.genreToggleWrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.categoryToggle.genreToggle {
    font-size: 1.3rem;
    width: 140px;
    height: 50px;
}

.genreFilterRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.categoryTitleLeft {
    display: inline-block;
    position: fixed;
    left: 0;
    font-size: 3rem;
    color: #eee;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    margin-left: 2%;
}

.categoryTitleRight {
    display: inline-block;
    position: fixed;
    right: 0;
    font-size: 3rem;
    color: #eee;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    margin-right: 2%;
}



/* CARD SETTINGS */

.small-card {
    display: block;
    position: relative;
    background: radial-gradient(rgba(64, 64, 64, 0.4), rgba(50, 50, 50, 0.4));
    border-radius: 20px;
    min-width: 5%;
    max-width: 50%;
    height: 150px; /*Temp*/
    box-shadow: 3px 3px 6px 0 rgba(20, 20, 20, 0.9) inset;
    border: 3px solid #ddd;
    margin: 1%;
    flex-grow: 1;
}

.small-card.hidden {
    display: none;
}

.small-card:hover {
    transform: scale3d(1.03, 1.03, 1.03);
    z-index: 2;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.15);
}



/* SIGN IN CARD */

.settings-card .default-view {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.settings-card .sign-in-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.default-view.hidden {
    display: none;
}

.sign-in-overlay.hidden {
    display: none;
}

.usernameInputField {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
    height: 45px;
    width: 45%;
    margin: 0;
    padding: 0 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #eee;
    color: #eee;
}

.usernameInputField:focus {
    outline: none;
}

.welcomeHeader {
    display: block;
    color: #eee;
    text-shadow: 1px 1px 3px #000;
    /* font-size: 1.5rem; */
    margin: 0;
    padding: 0;
}

.signInRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.settings-card .userSelect {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #eee;
    width: 45%;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #000;
}

.userSelect:focus {
    outline: none;
}

.signInButton {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 130px;
    margin-left: 10px;
    border-radius: 100px;
    border: 3px solid #eee;
    color: #eee;
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px #000;
}

.signInButton:hover {
    background-color: #eee;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.9);
    color: #0B1C43;
    text-shadow: none;
    font-weight: 600;
}



/* MUSIC CARD */

.music-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.music-card .album-art {
    max-height: 80%;
    margin-left: 20px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.music-card .song-info {
    display: inline-block;
    color: #ddd;
    text-shadow: 1px 1px 3px #000;
    margin-left: 15px;
    padding-right: 50px;
    /* max-width: 60%; */
}


/* Up / Down Vote Buttons */
.upvoteDownvote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 10px;
    height: 100%;
    padding-right: 5px;
}

.voteButton {
    max-width: 30px;
    border-radius: 5px;
}

.voteButton:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    z-index: 2;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
    .small-card {
        max-width: 48%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .headerNav {
        width: 90%;
    }

    .signInRow {
        justify-content: flex-start;
    }

    .signInButton {
        width: 115px;
    }

    .small-card {
        max-width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .upvoteDownvote {
        padding-right: 0;
    }

    .voteButton {
        max-width: 40px;
    }

    .music-card .album-art {
        margin-left: 10px;
    }

    .music-card .song-info {
        margin-left: 10px;
    }

    .categoryToggle.genreToggle {
        height: 40px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

